<div class='container-fluid'>
  <div class='row'>
    <form class='form-group col-lg-4 col-lg-offset-1'>
      <label class='control-label'for="inputDefault"></label>
      <input id="search" ng-model="query" type="text" placeholder="search by name, description, or category">
    </form>
    <form class="form-group">
      <label for="select" class="control-label"></label>
      <div class="col-lg-3">
        <select class="form-control" id="select"ng-model="category">
          <option ng-value="cold">Cold</option>
          <option ng-value="dark">Dark</option>
          <option ng-value="awesome">Awesome</option>
          <option ng-value="summer">Summer</option>
          <option ng-value="dry">Dry</option>
          <option ng-value="warm">Warm</option>
          <option ng-value="lucid">Lucid</option>
          <option ng-value="hot">Hot</option>
          <option ng-value="winter">Winter</option>
        </select>
      </div>
    </form>
    <button class="col-lg-1 col-lg-offset-10 btn btn-md" type="submit"><a href="/#/checkout">Checkout</a></button>
  </div>
</div>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-lg-10 col-lg-offset-1'>
      <div class='col-lg-10' id="teas" ng-repeat="tea in teas | filter: query | filter: category">
        <div class='col-lg-5'>
          <p>Name: {{ tea.name }}</p>
          <p>Ingredients: {{ tea.ingredients }}</p>
          <p>Caffeine: {{ tea.caffeineScale }}</p>
          <p>Price: {{ tea.price/100 | currency:"$" }}</p>
          <p>In stock? {{ tea.inStock == true? "Yes" : "No" }}</p>
            Category
          <div ng-repeat="category in tea.categories">
            <li>{{ category }}</li>
          </div>
        </div>
        <div class="col-lg-2">
          <p><img ng-src="{{ tea.imageUrl }}" /></p>
        </div>
        <div class="right col-lg-3 col-lg-offset-2">
          <select class="form-control"ng-model="num">
            <option ng-value="1">1</option>
            <option ng-value="2">2</option>
            <option ng-value="3">3</option>
            <option ng-value="4">4</option>
          </select>
          <button type="submit" ng-click="addTea(tea._id, num)">Add to bag</button>
        </div>
      </div>
    </div>
  </div>
</div>




